html, body, #app { height: 100%; }
body {
  color: black;
  margin: 0;
}

// general use

.align-center {
  text-align: center;
}

map area {
  outline: none;
}

.image-map-cover {
  @media (orientation: landscape) {
    height: 100%;
  }
  @media (orientation: portrait) {
    width: 100%;
  }
}

// page specific

#landing-wrap {
  margin: 0 auto;
  margin-top: 1em;
  font-family: 'arial', sans-serif;
  font-size: 1em;
  width: 70%;
  @media (max-width: 700px) {
    width: 90%;
  }
  @media (max-width: 800px) {
    font-size: 0.9em;
  }
  @media (min-width: 900px) {
    font-size: 1em;
    width: 60%;
  }
  @media (min-width: 1000px) {
    width: 50%;
  }
  @media (min-width: 1200px) {
    width: 40%;
  }

  h5 {
    margin-top: 0;
    font-family: "arial black";
  }
  p {
    margin: 1.2em 0;
  }
  .content {
    margin-top: 2em;
  }
  .flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .flex-row-item {
    margin-bottom: 2em;
    width: 48%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  .flex-col {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 100%;
  }
  .pay {
    margin-bottom: 0;
    text-align: right;
  }
  .form {
    margin: 1em;
    .input-text {
      width: 11.5em;
      border: black solid 1px;
      font-size: 1em;
      text-align: center;
      line-height: 1.5em;
      margin: 0.2em;
    }
    button.submit {
      border: none;
      background-color: white;
      font-size: 0.9em;
      font-family: 'arial', sans-serif;
      outline: none;
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
}

#feature-wrap {
  width: 100%;
  height: 100%;
  background-color: #84898C;
}
