html,
body,
#app {
  height: 100%;
}
body {
  color: black;
  margin: 0;
}
.align-center {
  text-align: center;
}
map area {
  outline: none;
}
@media (orientation: landscape) {
  .image-map-cover {
    height: 100%;
  }
}
@media (orientation: portrait) {
  .image-map-cover {
    width: 100%;
  }
}
#landing-wrap {
  margin: 0 auto;
  margin-top: 1em;
  font-family: 'arial', sans-serif;
  font-size: 1em;
  width: 70%;
}
@media (max-width: 700px) {
  #landing-wrap {
    width: 90%;
  }
}
@media (max-width: 800px) {
  #landing-wrap {
    font-size: 0.9em;
  }
}
@media (min-width: 900px) {
  #landing-wrap {
    font-size: 1em;
    width: 60%;
  }
}
@media (min-width: 1000px) {
  #landing-wrap {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #landing-wrap {
    width: 40%;
  }
}
#landing-wrap h5 {
  margin-top: 0;
  font-weight: bold;
}
#landing-wrap .content {
  margin-top: 2em;
}
#landing-wrap .flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#landing-wrap .flex-row-item {
  margin-bottom: 2em;
  width: 48%;
}
@media (max-width: 600px) {
  #landing-wrap .flex-row-item {
    width: 100%;
  }
}
#landing-wrap .flex-col {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 100%;
}
#landing-wrap .pay {
  margin-bottom: 0;
  text-align: right;
}
#landing-wrap .form {
  margin: 1em;
}
#landing-wrap .form .input-text {
  width: 11.5em;
  border: black solid 1px;
  font-size: 1em;
  text-align: center;
  line-height: 1.5em;
  margin: 0.2em;
}
#landing-wrap .form button.submit {
  border: none;
  background-color: white;
  font-size: 0.9em;
  font-family: 'arial', sans-serif;
  outline: none;
}
#landing-wrap .form button.submit:hover {
  cursor: pointer;
  color: red;
}
#feature-wrap {
  width: 100%;
  height: 100%;
  background-color: #84898C;
}
